.song-lyrics {
  width: 50%;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.39);
  background: #030a11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-bottom: 5rem;
  color: #d6da45;
}

.song {
  white-space: pre-line;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.6;
}

.song::selection {
  background: #d6da45;
  color: #122325;
}

.song-name {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.artist {
  font-size: 2.2rem;
  margin-bottom: 3rem;
  width: 90%;
  padding-bottom: 2rem;
  border-bottom: 5px solid #d6da45;
}

@media only screen and (max-width: 900px) {
  .song-lyrics {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .song-lyrics {
    width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .song-lyrics {
    width: 80%;
  }
}
@media only screen and (max-width: 380px) {
  .song-lyrics {
    width: 92%;
  }
}
