* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  background: #d6da45;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #122325;
  outline: none;
}

@media only screen and (max-width: 820px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
